header {
  background: #3578E5;
  color: #FFF;
  font-family: Arial, Helvetica, sans-serif;
  max-height: 60px;
  margin: 0;
  padding: 0 40px 0 40px;

  display: flex;
  align-items: center;
}

header ul {
  width: 100%;
   
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

ul li {
  display:inline-block;
  list-style-type:none;
  margin-right:-4px;
  padding:10px;
}

#profile-label {
  display: flex;
  font-weight: bold;
}

#profile-img {
  display: flex;
  width: 25px;
}