header {
  background: #4A90E2;
  color: #FFF;
  font-family: Helvetica, Arial, sans-serif;
  min-height: 64px;
  padding: 0 40px 0 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header div.header-app {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

header div h2 {
  font-size: 24px;
}

header div ul { 
  display: flex;
  align-items: center;
}

header div ul li {
  display:inline-block;
  list-style-type:none;
  margin-left: 8px;
}

.profile-label {
  display: flex;
  font-weight: bold;
  font-size: 15px;
}

.profile-img {
  display: flex;
  width: 20px;
}